#panelSelId{
	
	/*background-color: blue;*/
	width: 5%;
	height: 100%;
	margin-left: 0px;
    left: 0;
	position: fixed;
	z-index: 998;
}

#innerPanelSelId{
	position: relative;
	width: 1%;
	height: 100%;
	background-color: #efefef;
	float: left;
	overflow-x: auto;
	overflow-y: auto;
	z-index: 998;
}

#handlerSelId{
	background-image: url('../img/right-arrow.png');
	background-repeat: no-repeat;
	background-size: cover;
	float: right;
	/*background-color: yellow;*/
	margin-top: 1px;
	height: 50px;
	width: 50px;
	cursor: pointer;
	z-index: 998;
}

#leftColorPanelSelId{

	/*background-color: blue;*/
	width: 5%;
	height: 100%;
	right: 0%;
	position: fixed;
	z-index: 998;
}

#leftInnerColorPanelSelId{
	/*background-color: red;*/
	position: relative;
	width: 1%;
	height: 100%;
	background-color: #efefef;
	float: right;
	overflow-x: auto;
	overflow-y: auto;
	z-index: 998;
}

#leftHandlerSelId{

background-image: url('../img/left-arrow.png');
	background-repeat: no-repeat;
	background-size: cover;
	float: left;
	/*background-color: yellow;*/
	margin-top: 1px;
	height: 50px;
	width: 50px;
	cursor: pointer;
	z-index: 998;

}

.imgBox {
	background-image: url('../img/window.png');
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	height: 20%;
	width: 50%;
	margin-top: 0px;
	margin-left: 0;
	cursor: pointer;
	float: left;
	overflow: hidden;
}

.headerBox{
	height: 5%;
	width: 90%;
	position: relative;
	float: left;
	overflow: hidden;
	text-align: center;
	margin-top: 10px;
	font-size: 20px;
    font-family: 'Titillium Web', sans-serif;
}


.custImg, .custPara{
    cursor: pointer; 
    float: left;
    margin-left: 4%;
}

.sampText{
	position: relative;
	height: 5%;
	width: 50%;
	float: left;
	overflow: hidden;
	text-align: center;
	font-size: 10px;
}

h3{
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
}

.customHeaderBox{
   
    position: relative;
    float: left;
    width: 100%;
    height: 5%;
    text-align: center;
}

.customParagraphBox, .customImageBox{
    position: relative;
    float: left;
    text-align: center;
    display: inline;
    width: 48%;
}


.customFooterBox, .customMidSectionBox{
    position: relative;
    float: left;
    width: 100%;
    /*height: 5%;*/
    text-align: center;
}

.ui-widget-content{
    
    background: none;
}

.sam{
    width: 100%;
    height: 100px;
    float: left;
    font-family: 'Titillium Web', sans-serif;
}

.sam1, .sam2{
    width: 45%;
    height: 90px;
    float: left;
    margin-left: 2%;
    text-align: center;
    padding-top: 30px;
    cursor: pointer;
    border-style: dashed;
    border-color: #5376F8;
}

.ui-widget-header{
    border: #F5FFFA;
    background: #F5FFFA;
}

.ui-dialog .ui-dialog-content{
    background: #efefef;
    opacity: 0.8;
    font-family: 'Titillium Web', sans-serif;
}

.ui-dialog{
    z-index: 971;
}

#IMG_S{
    height: 80px;
    width: 80px;
    background-image: url('../img/logo.gif');
}

/*-----------------------------------*/
/* CLEAR FLOAT FOR RESPONSIVE DESIGN */
/*-----------------------------------*/
.clearfix {
  zoom: 1; }

.clearfix:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden; }

/*----------------------------------------*/
/* REMOVE TEXT DECORATION FROM ANCHOR TAG */
/*----------------------------------------*/
a {
  text-decoration: none;
  border: none;
  /* Not recommended should be combined with hover and active state */
  outline: none;
  /* Not recommended should be combined with hover and active state */ }

/*----------------------------------------*/
/* ROW SIZE FOR DESIGN */
/*----------------------------------------*/
/* -- 1 Should be Normalize -- */
/* -- 2 Should be Grid -- */
/* -- 3 Should be local -- */
/*.row{
    
    max-width: 1140px;  Not necessary pixel size, should be according to design 
    margin: 0 auto;
    
}*/
/*-----------------------------------------*/
/* HEADING ELEMENTS */
/*-----------------------------------------*/
h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase; }

/*-----------------------------------------*/
/* INPUT ELEMENTS */
/*-----------------------------------------*/
/*input[type=text],
input[type=email],
input[type=password],
select,
textarea{
    
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
    resize: none;
}*/
/*-----------------------------------------*/
/* UL ELEMENTS */
/*-----------------------------------------*/
ul {
list-style: none; }
